<a href="https://colab.research.google.com/github/Kabshah/AI-try/blob/main/Encoding_Pr.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
from sklearn.preprocessing import LabelEncoder

Teams = ['Karachi kings','Lahore qalanders','multan sultans','peshawar zalmi','Karachi kings','Lahore qalanders']
encoder = LabelEncoder()
encoded=encoder.fit_transform(Teams)
print("Encoded values: ",encoded)
print("Classes: ", encoder.classes_)

Encoded values:  [0 1 2 3 0 1]
Classes:  ['Karachi kings' 'Lahore qalanders' 'multan sultans' 'peshawar zalmi']

In [13]:
games = ['rdr2','cyber punk 2077','hogwarts legacy','cyber punk 2077','rdr2']
encoder = LabelEncoder()
encoded=encoder.fit_transform(games)
print("Encoded values: ",encoded)
print("Classes: ", encoder.classes_)

Encoded values:  [2 0 1 0 2]
Classes:  ['cyber punk 2077' 'hogwarts legacy' 'rdr2']

In [14]:
uni =['ssuet','neduet','fast','ssuet','maju','fast','neduet']
encoder = LabelEncoder()
encoded=encoder.fit_transform(uni)
print("Encoded values: ",encoded)
print("Classes: ", encoder.classes_)

Encoded values:  [3 2 0 3 1 0 2]
Classes:  ['fast' 'maju' 'neduet' 'ssuet']

**Label Encoding: Assign an int value to unique categorical values**


**STEPS:**
1) Import
2) Make a List
3) save LabelEncoder class in a var1
4) make new var2, on var1 use method .fit_transform() pass the list_var to it
5) print var2

**One Hot Encoding**

In [31]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
df = pd.DataFrame({'Teams': ['Karachi kings','Lahore qalanders','multan sultans','peshawar zalmi','Karachi kings','Lahore qalanders','multan sultans'],
                   "uni":['ssuet','neduet','fast','ssuet','maju','fast','neduet'],
                   })
hot_encode = pd.get_dummies(df, columns=['Teams','uni'])
print(hot_encode)

   Teams_Karachi kings  Teams_Lahore qalanders  Teams_multan sultans  \
0                 True                   False                 False
1                False                    True                 False
2                False                   False                  True
3                False                   False                 False
4                 True                   False                 False
5                False                    True                 False
6                False                   False                  True

   Teams_peshawar zalmi  uni_fast  uni_maju  uni_neduet  uni_ssuet
0                 False     False     False       False       True
1                 False     False     False        True      False
2                 False      True     False       False      False
3                  True     False     False       False       True
4                 False     False      True       False      False
5                 False      True     False       False      False
6                 False     False     False        True      False

**Ordinal Encoding**

Q Encode education levels according to their rank. Data: ['High School', 'Bachelor', 'Master', 'PhD', 'Bachelor']

In [34]:
from sklearn.preprocessing import OrdinalEncoder
df = pd.DataFrame({'Education level': ['Inter', 'Bachelor', 'Master', 'PhD','Bachelor','Inter','PhD']})
encoder = OrdinalEncoder(categories=[['Inter', 'Bachelor', 'Master', 'PhD']])
encoded = encoder.fit_transform(df)
print("Encoded values on Ordinal Data: ",encoded)

Encoded values on Ordinal Data:  [[0.]
 [1.]
 [2.]
 [3.]
 [1.]
 [0.]
 [3.]]

In [36]:
from sklearn.preprocessing import OrdinalEncoder
df = pd.DataFrame({'Sizes':['XL','S','M','L','L','XL','S','M']})
encoder = OrdinalEncoder(categories=[['S','M','L','XL']])
encoded = encoder.fit_transform(df)
print(df)
print(encoded)

  Sizes
0    XL
1     S
2     M
3     L
4     L
5    XL
6     S
7     M
[[3.]
 [0.]
 [1.]
 [2.]
 [2.]
 [3.]
 [0.]
 [1.]]

TEST:
Convert pet types into binary columns. Data: ['Dog', 'Cat', 'Rabbit', 'Dog', 'Cat']

Applying one hot encoding because of columns

In [37]:
from sklearn.preprocessing import OneHotEncoder
import pandas as pd
df = pd.DataFrame({'Pets':['Dog', 'Cat', 'Rabbit', 'Dog', 'Cat']})
hot_encode = pd.get_dummies(df, columns=['Pets'])
print(hot_encode)

   Pets_Cat  Pets_Dog  Pets_Rabbit
0     False      True        False
1      True     False        False
2     False     False         True
3     False      True        False
4      True     False        False

 Encode favorite fruits numerically for ML models. Data: ['Apple', 'Banana', 'Mango', 'Apple', 'Mango']

In [40]:
from sklearn.preprocessing import LabelEncoder
fruits = ['Apple', 'Banana', 'Mango', 'Apple', 'Mango']
encoder = LabelEncoder()
encoded = encoder.fit_transform(fruits)
print(encoder.classes_)
print(encoded)

['Apple' 'Banana' 'Mango']
[0 1 2 0 2]